<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <alsoviewed>
            <session>
                <limit>10</limit>
            </session>
            <perfomance>
                <chunk_size>500</chunk_size>
            </perfomance>
        </alsoviewed>
    </default>
</config>
