<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Vovayatsyuk\Alsoviewed\Ui\DataProvider\Log\LogDataProvider">
        <arguments>
            <argument name="addFieldStrategies" xsi:type="array">
                <item name="product_name" xsi:type="object">Vovayatsyuk\Alsoviewed\Ui\DataProvider\Log\AddProductNameFieldToCollection</item>
                <item name="related_product_name" xsi:type="object">Vovayatsyuk\Alsoviewed\Ui\DataProvider\Log\AddRelatedProductNameFieldToCollection</item>
            </argument>
        </arguments>
    </type>
</config>
