<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="alsoviewed" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Also Viewed Products</label>
            <tab>catalog</tab>
            <resource>Vovayatsyuk_Alsoviewed::config</resource>
            <group id="product_tab" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Page Tabs Integration</label>
                <comment>These settings works with standard Magento tabs only. If you are using custom tabs module, use its manual on how to add third-party widget in tabs.</comment>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Show block at Product page tabs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tab Title</label>
                </field>
                <field id="block_title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Title</label>
                </field>
                <field id="basis" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Offer Recommendations for</label>
                    <source_model>Vovayatsyuk\Alsoviewed\Model\Config\Source\Basis</source_model>
                </field>
                <field id="products_count" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Products Count</label>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1">
                    <label>Listing mode</label>
                    <source_model>Vovayatsyuk\Alsoviewed\Model\Config\Source\Listingmode</source_model>
                </field>
                <field id="block_css" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Block css classes</label>
                </field>
            </group>
            <group id="log" translate="label" type="text" sortOrder="20" showInDefault="1">
                <label>Log Settings</label>
                <field id="ignore_user_agent" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Ignore crawlers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ignored_user_agent" translate="label" type="text" sortOrder="11" showInDefault="1">
                    <label>Crawler's user agent regex</label>
                    <depends>
                        <field id="ignore_user_agent">1</field>
                    </depends>
                </field>
                <field id="ignore_ip_address" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Ignore specific ip addresses</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ignored_ip_address" translate="label" type="text" sortOrder="21" showInDefault="1">
                    <label>Ip addresses (comma separated)</label>
                    <depends>
                        <field id="ignore_ip_address">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
